/* Import Local SCSS Files */
@import 'variables', 'reset', 'fonts', 'header', 'footer';

/* responsive Mobile */
@media (max-width:767px){
/* -------------------- Common CSS -------------------- */
  // inner
  [class*=inner]{
    width:90%; margin: auto;
  }

  // main-title
  .main-title{
    h2{
      font-size: 40px;
    }
    p{}
    .more-btn{}
  }

  /* -------- div.music --------- */
  .music-wrap{
    display: none;
  }

  /* -------- pagenation --------- */
  .pagination-container {
    display: none;
  }

  /* -------- header --------- */
  .header{width: 100%;
      img{
        width: 100%; height: 60px;
      }
    .logo-black{
      margin-left: 10px;
    }
    .header-box{
      margin-right: 10px;
      .search-box{
        display: none;
      }
    }
  }
  .global-list{
    position: absolute;
    z-index: 999999999;
    right: 32px; top: 80px;
  }
  .sub-wrap{
    width: 100%;
    .close-btn{
      top: 40px; right: 40px; cursor: pointer;
      i{font-size: 40px;}
    }
    .sub-menu-inner{
      width: 80%;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      .sub-menu-items{
        .sub-menu-item{
          position: relative;
          &.ja{
            gap: 70px;
          }
          .sub-menu-title{
            position: absolute;
            h2{
              padding: 50px 0;
              font-size: 36px;
              text-align: left;
              position: relative;
              &.ja{
                font-family: $Title-Jp;
              }
              &::after{
                content: '';
                  position: absolute;
                  width: 180%; height: 1px;
                  bottom: -20%; left: 0;
              }
              &::before{
                content: '';
                display: none;
              }
            }
          }
          .sub-menu-content{
            position: absolute;
            margin-left: 0;
            margin-top: 110px;
            .sub-menu-content-item{
              padding: 0;
              margin-bottom: 98px;
              a{
                padding: 7px 11px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  .header-include-en{
    .header{width: 100%;
    img{
      width: 100%; height: 60px;
    }
    .logo-black{
    margin-left: 10px;
    }
    .header-box{
    margin-right: 10px;
    .search-box{
      display: none;
    }
    }
    }
    .global-list{
      position: absolute;
      z-index: 999999999;
      right: 32px; top: 80px;
    }
    .sub-wrap{
      width: 100%;
      .close-btn{
        top: 40px; right: 40px; cursor: pointer;
        i{font-size: 40px;}
      }
      .sub-menu-inner{
        width: 80%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        .sub-menu-items{
          .sub-menu-item{
            position: relative;
            &.ja{
              gap: 70px;
            }
            .sub-menu-title{
              position: absolute;
              h2{
                padding: 50px 0;
                font-size: 36px;
                text-align: left;
                position: relative;
                &.ja{
                  font-family: $Title-Jp;
                }
                &::after{
                  content: '';
                    position: absolute;
                    width: 140%; height: 1px;
                    bottom: -20%; left: 0;
                }
                &::before{
                  content: '';
                  display: none;
                }
              }
            }
            .sub-menu-content{
              position: absolute;
              margin-left: 0;
              margin-top: 110px;
              .sub-menu-content-item{
                padding: 0;
                margin-bottom: 98px;
                a{
                  padding: 7px 11px;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  /* -------- section.ghibli-main-logo --------- */
  .ghibli-main-logo{
    width: 90%;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    ul{
      width: inherit;
      li{
        width: inherit;
        img{}
      }
    }
  }

  /* -------- section.ghibli-mainvisual --------- */
  .ghibli-mainvisual{
    max-height: auto;
    .ghibli-mainvisual-media{
      width: 90%;
      max-height: 100vh;
      left: 0;
      .ghibli-mainvisual-image{
        display: none;
      }
      .ghibli-mainvisual-video{
        max-height: 100vh;
        video{
          width: auto;
          height: 2000px;
        }
      }
    }
    .ghibli-catchphrase{
      h1{
        font-size: 40px;
      }
    }
    .ghibli-about{
      .ghibli-about-inner{
        .ghibli-about-left-text{
          .main-title{
            h2{}
            a{
              span{}
            }
          }
          .ghibli-about-content-box{
            .ghibli-about-text{
              b{}
            }
            .ghibli-about-click-desc{
              display: none;
            }
          }
        }
        .ghibli-about-right-history{
          display: none;
        }
      }
    }
  }

  /* -------- section.notice --------- */
  .notice{
    .notice-inner{
      .main-title{
        h2{
          font-size: 40px;
        }
      }
      .notice-content{
        flex-direction: column;
      }
    }
  }

  /* -------------------- section: event -------------------- */
  .event {
    height: 100%;
    .event-inner {
      width: 100%;
      .main-title {
        padding-top: 20px;
        background: transparent;
      }
      .event-container {
        flex-direction: column-reverse;
        .event-ticket-wrap {
          .event-ticket-swiper {
            height: 600px;
            width: 80%;
            margin-bottom: 0;
            .swiper-wrapper {
              .swiper-slide {
                width: 90%; margin: auto;
                background-size: 100%;
              }
              .event-ticket-img {
                width: 40%;
                img {
                  width: 70%;
                  height: 150px;
                  margin-left: 0;
                }
              }
              .event-ticket-info {
                margin-top: 20px;
                padding: 20px;
                margin-left: 0; width: 70%; height: 150px;
                .event-ticket-container {
                  margin-bottom: 5px;

                  .event-ticket-info-title {
                    strong {
                      font-size: 18px;
                    }
                  }
                  .event-ticket-info-btn {
                    padding: 5px 20px;
                    background-color: $Moss-Green;
                    a {
                      font-size: 14px;
                    }
                  }
                }
                .event-ticket-content {
                  p{
                    width: 100%;
                    -webkit-line-clamp: 4;
                  }
                }
              }
            }
          }
          .swiper-button-next {
            margin-top: 100px;
            left: 47%;
            top: 58%;
          }
          .swiper-button-prev {
            margin-top: 205px;
            left: 47%;
            top: 12%;
          }
        }
      }
      .event-calendar-wrap {
        height: 170px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
        padding: 0;
        border-right: none;
        border-left: none;
        .event-calendar-inner {
          width: 100%;
          margin-top: 185px;
          &::before {
            display: none;
          }
          .event-calender-titile {
            width: 100%;
            height: 30px;
            line-height: 30px;
            background-color: $Moss-Green;
            margin-left: 0;
            font-size: 24px;
            text-align: center;
            color: $White;
            &::before {
              display: none;
            }
          }
          p{display: none;}
          .event-calnder-content {
            margin-top: 0;
            max-height: 300px;
            overflow-x: auto;
            display: flex;
            &::-webkit-scrollbar {
              height: 10px;
            }
            &::-webkit-scrollbar-thumb {
              display: none;
            }
            .event-calnder-date {
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              span {
                padding: 5px 10px;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  /* -------------------- section: movie-film -------------------- */
  .movie-film{
    .movie-film-inner{
      .main-title{
        h2{}
        p{}
        a{
          span{}
          img{}
        }
      }
      .movie-film-swiper{
        &::before{
          height: 520px;
          left: -10%; top: -15%;
        }
        &::after{
          height: 440px;
          left: -10%; top: -12.8%;
        }
        .swiper-wrapper{
          height: 400px;
          .swiper-slide{
            a{
              &:hover img{}
              &:hover div{}
              img{}
              div{}
            }
          }
        }
      }
      .swiper-button-next{}
      .swiper-button-prev{}
    }
  }

  /* -------------------- section.ghibli-inside -------------------- */
  .ghibli-inside {
    width: 100vw;
    height: auto;
    overflow-x: hidden; 
    .ghibli-inside-inner {
      width: 90%;
      padding: 20px 0;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      .main-content {
        flex-direction: column;
        padding: 15px;
        width: 100%;
        gap: 0;
        box-sizing: border-box;
        #main-image {
          height: 300px;
          width: 100%;
          max-width: 100%;
          object-fit: cover;
          overflow: hidden;
          display: block;
        }
        .content {
          width: 100%;
          .main-sec-title {
            margin-top: 13px;
            display: flex;
            justify-content: space-between;
            h2 {
              margin-top: 7px;
              font-size: 32px;
            }
          }
          #description {
            -webkit-line-clamp: 4;
            overflow: hidden;
          }
        }
      }
      .thumbnails {
        flex-wrap: wrap;
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
        .thumb-wrapper {
          flex: 1 0 calc(32% - 10px);
          max-width: calc(32% - 10px);
          margin-bottom: 15px;
          box-sizing: border-box;
          &:nth-child(3),
          &:nth-child(6) {
            margin-right: 0;
          }
          img {
            height: 120px; 
            object-fit: cover; 
          }
        }
      }
    }
  }

  /* -------------------- map-------------------- */
  .map{
    .map-wrap{
      .map-inner{
        width: 100%; height: 90%;
        .map-container{
          .map-point-img{
            img{
              width: 100%;
            }
          }
          .map-point{
            .map-point-title{
              font-size: 1.3rem;
              -webkit-text-stroke: 1px rgb(255, 255, 255);
              .point-title1{
                position: absolute;
                top: 65%; left: 15%;
              }
              .point-title2{
                position: absolute;
                top: 35%; right: 45%;
              }
            }
            .map-point-ping{
              .ping1{
                width: 30px;
                position: absolute;
                top: 50%; left: 22%;
              }
              .ping2{
                width: 30px;
                position: absolute;
                top: 20%; right: 50%;
                animation: ping 2s infinite ease-in-out;
              }
            }
          }
        }
      }
      .map-mini-item{
        display: none;
      }
    }
  }

  /* -------------------- email -------------------- */
  .email {
    .email-inner {
      h2 {
        font-size: 40px;
      }
      .email-box {
        width: 100%;
      }
    }
  }

  /* -------------------- footer-------------------- */
  footer {
    .footer-inner{
      .site-btn {
        gap: 5px;
        a{
          img{
            width: 100%;
          }
        }
      }
      .info-wrap{
        flex-direction: column;
        span {
          margin-bottom: 5px;
        }
        div {
          display: none;
        }
      }
      a{}
      span{}
    }
  }

  /* -------------------- top-btn -------------------- */
  #topBtn {
    bottom: 20px;
    right: 20px;
    img {display: none;}
  }
}













