/* Import Local SCSS Files */
@import 'variables', 'reset', 'fonts', 'header','header-en', 'footer';

/* ############ Common CSS ############*/
// 가로 스크롤 제거
body{
  overflow-x: hidden;
}

// section
section{
  height: 100vh;
  align-items: center;
}

// inner
[class*=inner]{
  width: 1160px;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// main-title
.main-title{
  text-align: center;
  h2{
    font-family: $Title-Font;
    font-size: $h2-px;
    margin-bottom: 10px;
    &.ja{
      font-family: $Title-Jp;
    }
  }
  p{
    color: $Moss-Green;
    font-size: $h5-px;
    margin-bottom: 25px;
  }
  .more-btn{
    position: relative;
    transition: 0.3s;
    background: url(../images/more-btn.png);
    width: 161px;
    height: 41px;
    display: block;
    margin: auto;
    span{
      position: absolute;
      font-family: $Highlight-Font;
      font-size: $h5-px;
      color: $Clay-Brown;
      top: 50%; left: 50%;
      transform: translateY(-50%) translateX(-50%);
      &.ja{
        font-family: $Highlight-Jp;
      }
    }
    &:hover{
      background: url(../images/more-btn-hover.png);
      span{
        color: $White;
        font-weight: bold;
      }
    }
  }
}

/* ############ div.music ############*/
.music-wrap{
  width: 100vw; height: 100vh;
  position: fixed;
  left: 0; top: 0;
  z-index: 1000;
  .music-overlay{
    width: inherit; height: inherit;
    position: relative;
    top: 0; left: 0;
    z-index: 1500;
    background-color: rgba($Pure-Black, .5);
    opacity: 0;
    transition: 1s;
  }
  .music-background{
    width: inherit; height: inherit;
    position: absolute;
    top: 0; left: 0;
    z-index: 1000;
    img{
      width: 100%; height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .music-content{
    position: absolute;
    z-index: 1700;
    top: 70%; left: 50%; transform: translate(-50%, -50%);
    opacity: 0;
    transition: 3s;
    .music-img{
      margin: auto;
      width: 230px;
      img{
        width: 100%;
      }
    }
    .music-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2{
        margin-top: 10px;
        margin-bottom: 5px;
        font-family: $Title-Font;
        font-size: 32px;
        line-height: 150%;
        color: $White;
        &.ja{
          font-family: $Title-Jp;
        }
      }
      strong{
        margin-bottom: 30px;
        font-size: $h4-px; font-weight: normal;
        color: $White;
      }
      button{
        width: 240px;
        margin: 10px 0;
        padding-top: 5px;
        position: relative;
        border-radius: 45px;
        border: 3px solid $White;
        background-color: rgba($White, .5);
        font-family: $Title-Font;
        font-size: 32px;
        text-align: center;
        color: $White;
        cursor: pointer;
        transition: .5s;
        &.ja{
          padding: 10px;
          font-family: $Title-Jp;
          i{
            top: 50%;
          }
        }
        &:hover{
          background-color: $White;
          color:$Smoky-Blue;
        }
        i{
          font-size: 50px;
          position: absolute;
          left: 30px; top: 60%; transform: translateY(-50%);
          &.bi-volume-down-fill{
            left: 12px;
          }
          &.bi-volume-mute-fill{
            left: 20px;
          }
        }
      }
    }
  }
}

.main-page-music-wrap{
  position: fixed;
  bottom: 40px; right: 30px;
  z-index: 100;
  button{
    background-color: transparent;
    cursor: pointer;
    &.main-page-music-on-btn{
      display: none;
    }
    i{
      font-size: 3rem;
      color: $Main-Text;
    }
  }
}

/* ############ header-include ############*/


/* ############ pagination ############*/
.pagination-container {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  margin-left: 20px;
  align-items: center;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  .pagination-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, width 0.3s ease, height 0.3s ease, transform 0.3s ease; 
    transform: translateY(0);
    &.active {
      width: 40px;
      height: 40px;
      background-image: url(../images/section-pagenation.gif);
      background-color: rgba(0, 0, 0, 0); 
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center 100%; 
      transform: translateY(0); 
      transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    }
  }
}

/* ############ section.ghibli-main-logo ############*/
.ghibli-main-logo{
  height: 180px;
  padding: 30px;
  opacity: 1;
  ul{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      &:nth-child(1){
        animation: main-logo-ani infinite step-end-in 1s;
      }
      &:nth-child(2){
        animation: main-logo-ani infinite step-end 1.05s;
      }
      &:nth-child(3){
        animation: main-logo-ani infinite step-end 1.3s;
      }
      &:nth-child(4){
        margin-right: 20px;
        animation: main-logo-ani infinite step-end 1.2s;
      }
      &:nth-child(5){
        animation: main-logo-ani infinite step-end 1.1s;
      }
      &:nth-child(6){
        animation: main-logo-ani infinite step-end 1.35s;
      }
      &:nth-child(7){
        animation: main-logo-ani infinite step-end 1.15s;
      }
      &:hover{
        animation: main-logo-ani2 infinite linear .5s;
      }
      img{
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
  }
}

@keyframes main-logo-ani{
  0%{transform: scale(1);}
  50%{transform: scale(1.05);}
  100%{transform: scale(1);}
}
@keyframes main-logo-ani2{
  0%{transform: translateY(0);}
  50%{transform: translateY(-5px);}
  100%{transform: translateY(0);}
}

/* ############ section.ghibli-mainvisual ############*/
.ghibli-mainvisual{
  max-width: 100vw;
  height: auto;
  position: relative;
  .ghibli-mainvisual-overlay{
    width: 100vw; height: 100vh;
    position: fixed;
    top: 0; left: 0;
    z-index: -5;
    background-color: rgba($Pure-Black, .5);
    opacity: 0;
    transition: .5s;
  }
  .ghibli-mainvisual-media{
    width: 1160px;
    max-width: 100vw;
    position: relative;
    top: 0; left: 50%; transform: translateX(-50%);
    z-index: -10;
    transition: .5s;
    .ghibli-mainvisual-image{
      .ghibli-mainvisual-image-swiper{
        // 자바 스크립트 제어 영역
        display: none;
        &.active{
          display: block;
        }
        .swiper-wrapper{
          .swiper-slide{
            img{
              width: 100vw;
              height: 100vh;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
    .ghibli-mainvisual-video{
      max-width: 100%;
      height: 100%;
      transition: .5s;
      video{
        width: 100%;
      }
    }
  }
  .ghibli-catchphrase{
    height: 130vh;
    position: relative;
    transition: .5s;
    h1{
      position: absolute;
      bottom: 0; left: 50%; transform: translateX(-50%);
      font-family: $Highlight-Font;
      font-size: $h1-px;
      text-align: center;
      color: $White;
      text-shadow: 0 0 5px $White;
      opacity: 0;
      transition: 2.5s;
      &.ja{
        font-family: $Highlight-Jp;
      }
    }
  }
  .ghibli-about{
    height: 100vh;
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: 2.5s;
    .ghibli-about-inner{
      display: flex;
      flex-direction: row;
      .ghibli-about-left-text{
        margin-bottom: 150px;
        flex: 1;
        align-self: flex-end;
        .main-title{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          h2{
            font-family: $Highlight-Font;
            color: $White;
            &.ja{
              font-family: $Highlight-Jp;
            }
          }
          a{
            margin: 0;
            span{
            }
          }
        }
        .ghibli-about-content-box{
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          .ghibli-about-text{
            color: $White;
            font-weight: normal;
            line-height: 150%;
            b{
              font-size: $h4-px;
              font-weight: normal;
            }
          }
          .ghibli-about-click-desc{
            width: 35%;
            padding: 10px;
            margin-top: 50px;
            display: block;
            align-self: flex-end;
            border-radius: 15px;
            text-align: end;
            color: $White;
            animation: ghibli-about-click-desc-ani linear .5s infinite;
          }
        }
      }
      .ghibli-about-right-history{
        overflow: hidden;
        flex: 1;
        justify-items: flex-end;
        &::after{
          content: '';
          width: 870px; height: 100%;
          position: absolute;
          z-index: -3;
          top: 0; left: 50%; transform: translateX(-50%);
          border-right: 5px solid $Moss-Green
        }
        .ghibli-about-history{
          width: 50%;
          height: 200%;
          position: relative;
          display: flex;
          flex-direction: column;
          animation: ghibli-about-history-ani linear infinite 60s;
          > li{
            width: 48%;
            margin-top: 50px;
            flex: 1;
            &:nth-child(odd){
              align-self: flex-start;
              justify-items: flex-end;
            }
            &:nth-child(even){
              align-self: flex-end;
            }
            b{
              font-size: $h4-px; font-weight: bold;
              color: $White;
            }
            ul{
              li{
                button{
                  margin-top: 10px;
                  background-color: transparent;
                  font-size: 1rem; font-weight: normal;
                  color: $White;
                  transition: .5s;
                  cursor: pointer;
                  &:hover{
                    padding: 5px 0;
                    border-radius: 10px;
                    box-shadow: 0 0 5px rgba($White, .75);
                    color: $Moss-Green-Light;
                  }
                  &.active{
                    padding: 5px 0;
                    border-radius: 10px;
                    box-shadow: 0 0 5px rgba($White, .75);
                    color: $Moss-Green-Light;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes ghibli-about-click-desc-ani{
  0%{box-shadow: 0 0 5px transparent;}
  100%{box-shadow: 0 0 5px rgba($White, .75);}
}

@keyframes ghibli-about-history-ani{
  0%{transform: translateY(50%);}
  100%{transform: translateY(-120%);}
}

/* ############ section.notice ############*/
.notice{
  width: 100vw; height: 100%;
  background-color: $Moss-Green-Light;
  .notice-inner{
    padding: 60px 0;
    .main-title{
    }
    .notice-content{
      margin-top: 100px;
      display: flex;
      gap: 25px;
      .notice-img{
        flex: 1;
        position: relative;
        transition: 1s;
        cursor: pointer;
        &:hover::before{
          transition: .3s;
          background: rgba(0, 0, 0, 0.0);
        }
        &::before {
          content: '';
          position: absolute;
          top: 0; left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3); 
          border-radius: 20px;
          z-index: 1;
        }
        img{
          width: 100%;
          height: 100%;
          border-radius: 20px;
          display: block;
        }
        .img-content{
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2; 
          padding: 15px;
          color: $White;
          width: 95%;
          span{
            font-size: 13px;
            font-weight: 100;
            width: 80px;
            display: block;
            position: absolute;
            right: 10px;
            top: -10px;
          }
          h5{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: $h4-px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            font-weight: 100;
          }
        }
      }
      .notice-list{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
        li{
          transition: .3s;
          cursor: pointer;
          &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: $Moss-Green;
          margin: 15px 0; 
          }
          &:hover .list-content,
          &:hover .list-content ~ span,
          &:hover .list-content span{
            color: grey;
          }
          &:last-child {
            &::after {
              display: none;
              margin-bottom: 0; 
            }
          }
          .list-content{
            transition: .3s;
            display: flex;
            justify-content: space-between;
            h5{
              font-size: $h5-px;
              margin-bottom: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-weight: bold;
              width: 300px;
            }
            span{
              transition: .3s;
              font-size: 13px;
              color: $Moss-Green;
            }
          }
          span{
            transition: .3s;
            display: -webkit-box;
            -webkit-line-clamp: 2;        
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    > img{
      width: 60%;
      padding: 70px 0 40px 0;
      display: block;
      margin: auto;
    }
  }
}

/* ############ section.event ############*/
.event {
  height: 100vh; background-color: $White;
  overflow: hidden; position: relative;
  .event-inner {
    width: 1160px; margin: auto;
    overflow: hidden; height: 100%;
    .main-title {
      width: 100%;
      padding-top: 100px;
      position: absolute;
      top: 0; left: 50%; transform: translateX(-50%);
      z-index: 10;
      background: linear-gradient($White, $White, $White, transparent);
    }
    .event-container {
      height: 100vh;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      .event-ticket-wrap {
        position: relative;
        .event-ticket-swiper {
          position: relative;
          height: 850px; width: 800px;
          margin-top: 150px;
          overflow: hidden;
          .swiper-wrapper {
            transition-timing-function: ease-in-out;
            .swiper-slide {
              overflow: hidden;
              width: 750px;
              height: 300px;
              background: url(../images/ticket.png) no-repeat center;
              background-size: 99% 100%;
              display: flex;
              position: relative;
              align-items: center;
              opacity: .5;
              transition: .5s;
              &.swiper-slide-next{
                opacity: 1;
              }
              }
              .event-ticket-img {
                display: flex; align-items: center;
                justify-content: center;
                width: 220px; height: 210px;
                img {
                  width: 220px; height: 210px;
                  margin-left: 20px;
                }
              }
              .event-ticket-info {
                padding: 20px;
                margin-left: 30px;
                height: 180px; width: 500px;
                .event-ticket-container {
                  margin-top: -10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-bottom: 10px;
                  .event-ticket-info-title {
                    strong{
                      font-size: 20px;
                    }
                  }
                  .event-ticket-info-btn {
                    display: inline-block;
                    border-radius: 5px;
                    padding: 10px 25px;
                    background-color: $Moss-Green;
                    &.soon{
                      background-color: $Sunset-Orange;
                    }
                    a{
                      text-decoration: none;
                      color: $White;
                      font-weight: 200;
                      font-size: 15px;
                    }
                  }
                }
                .event-ticket-content {
                  span{
                    font-size: 15px;
                    color: $Moss-Green;
                    display: inline-block;
                    padding: 2px 0;
                  }
                  p{
                    margin-top: 10px;
                    width: 100%;
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
          .swiper-button-next{
            width: 75px; height: 75px;
            display: block;
            margin-top: 150px;
            position: absolute;
            left: 47%; top: 54%;
            border-radius: 50%;
            background-color: rgba($White, .75);
            filter: invert(50);
            text-align: center;
            color: transparent;
            transition: .5s;
            transform: rotate(90deg);
            &:hover{
              filter: invert(0);
            }
            i{
              position: absolute;
              left: 55%; top: 50%; transform: translate(-50%, -50%);
              color: #000;
              font-size: 2rem;
            }
          }
          .swiper-button-prev{
            width: 75px; height: 75px;
            margin-top: 285px;
            display: block;
            position: absolute;
            left: 47%; top:10%;
            border-radius: 50%;
            background-color: rgba(#fff, .75);
            filter: invert(50);
            text-align: center;
            color: transparent;
            transition: .5s;
            transform: rotate(90deg);
            &:hover{
              filter: invert(0);
            }
            i{
              position: absolute;
              left: 45%; top: 50%; transform: translate(-50%, -50%);
              color: #000;
              font-size: 2rem;
            }
          }
        }
      }
      .event-calendar-wrap {
        padding-top: 300px;
        height: 85%; width: 400px;
        margin-left: 100px;
        border-right: 15px solid $Moss-Green-Light;
        border-left: 15px solid $Moss-Green-Light;
        .event-calendar-inner {
          width: 200px; margin: auto;
          margin-top: 30px;
          position: relative;
          .event-calender-titile {
            padding: 20px 0;
            font-size: 32px;
            font-weight: bold;
            text-decoration: none;
            margin-left: 30px;
            color: $Moss-Green;
          }
          p{
          padding-top: 20px;
            border-top: 1px solid $Moss-Green;
            font-size: 13px;
            text-align: center;
          }
          .event-calnder-content {
            margin-top: 20px;
            max-height: 700px;
            overflow-y: auto;
            padding: 20px;
            &::-webkit-scrollbar-thumb {
              width: 10px;
              height: 50px;
              position: absolute;
              border-radius: 8px;
            }
            &::-webkit-scrollbar-track{
              background: $Moss-Green;
              border-radius: 8px;
            }
            .event-calnder-date {
              display: block;
              text-align: center;
              padding: 20px 0;
              font-size: 20px;
              text-decoration: none;
              &:hover{
                font-size: 21px;
                font-weight: bold;
              }
              span {
                color: $Moss-Green;
              }
            }
          }
        }
      }
    }
  }

/* ############ section.movie-film ############*/
.movie-film{
  width: 100vw;
  background-color: $Moss-Green-Light;
  .movie-film-inner{
    .main-title{
      margin-bottom: 100px;
      h2{}
      p{}
      a{
        span{}
        img{}
      }
    }
    .movie-film-swiper{
      width: 100%;
      overflow: visible;
      &::before{
        content: '';
        width: 150vw; height: 500px;
        position: absolute;
        left: -100%; top: -12%;
        background-color: $Light-Black;
      }
      &::after{
        content: '';
        width: 150vw; height: 423px;
        position: absolute;
        left: -100%; top: -10%;
        border-top: 30px dashed $White;
        border-bottom: 30px dashed $White;
      }
      .swiper-wrapper{
        width: 100%; 
        height: 400px;
        .swiper-slide{
          width: 100%;
          height: 100%;
          a{
            width: 100%; height: 100%;
            position: relative;
            &:hover img{
              opacity: 0;
            }
            &:hover div{
              transform: scale(1.3);
              z-index: 999;
            }
            img{
              width: inherit; height: inherit;
              object-fit: cover;
              position: relative;
              z-index: 10;
              width: inherit; height: inherit;
              position: absolute;
              opacity: 1;
              transition: .5s;
            }
            div{
              position: relative;
              width: inherit; height: inherit;
              transition: .5s;
            }
          }
        }
      }
      .swiper-button-next{
        width: 75px; height: 75px;
        display: block;
        right: -40px;
        border-radius: 50%;
        background-color: rgba($White, .75);
        filter: invert(50);
        text-align: center;
        color: transparent;
        transition: .5s;
        &:hover{
          filter: invert(0);
        }
        i{
          position: absolute;
          left: 55%; top: 50%; transform: translate(-50%, -50%);
          color: $Pure-Black;
          font-size: $h2-px;
        }
      }
      .swiper-button-prev{
        width: 75px; height: 75px;
        display: block;
        left: -40px;
        border-radius: 50%;
        background-color: rgba($White, .75);
        filter: invert(50);
        text-align: center;
        color: transparent;
        transition: .5s;
        &:hover{
          filter: invert(0);
        }
        i{
          position: absolute;
          left: 45%; top: 50%; transform: translate(-50%, -50%);
          color: $Pure-Black;
          font-size: $h2-px;
        }
      }
    }
  }
}

/* ############ section.ghibli-inside ############*/
.ghibli-inside {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .ghibli-inside-inner {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main-content {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 12px;
      background-color: #f9f9f9;
      gap: 20px;
      #main-image {
        height: 370px;
        width: 50%;
        max-width: 600px;
        border-radius: 10px;
        margin-top: 15px;
      }
      .content {
        flex: 1;
        .main-title{
          display: flex;
          justify-content: space-between;
          .more-btn{
            margin-right: 0;
          }
        }
        #sub-title{
          font-size: $h4-px;
        }
        #description{
          margin-top: 10px;
          line-height: 1.5;
          display: -webkit-box;
          -webkit-line-clamp: 13;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .thumbnails {
      max-width: 1160pxpx;
      width: 100%;
      margin: 40px auto 0;
      display: flex;
      justify-content: space-between;
      gap: 9px;
      .thumb-wrapper {
        flex: 1 0 calc(16.66% - 10px);
        max-width: calc(16.66% - 10px);
        position: relative;
        box-sizing: border-box;
        margin: 0 5px;

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
          border: 2px solid transparent;
          border-radius: 8px;
          cursor: pointer;
          display: block;
          box-sizing: border-box;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.15);
          border-radius: 8px;
          pointer-events: none;
          z-index: 1;
          transition: 0.3s ease;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 35px;
          height: 35px;
          background: url('../images/plus-btn.png') no-repeat center center;
          background-size: contain;
          transform: translate(-50%, -50%);
          pointer-events: none;
          z-index: 2;
          transition: transform 0.3s ease;
        }

        &:hover::before {
          background: rgba(0, 0, 0, 0);
        }

        &:hover::after {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }
  }
}

/* ############ section.map ############*/
.map{
  .map-wrap{
    width: 100vw; height: 100%;
    background-color: $Moss-Green-Light;
    position: relative;
    .map-inner{
      width: 1160px; margin: auto;
      .main-title{
        margin-bottom: 50px;
      }
      .map-container{
        position: relative;
        .map-point-img{
          text-align: center;
          img{
            width: 850px;
          }
        }
        .map-point{
          .map-point-title{
            font-size: 1.7rem;
            font-weight: bold;
            -webkit-text-stroke: 2px rgb(255, 255, 255);
            font-family: $Title-Font;
            cursor: pointer;
            & .ja{
              font-family: $Title-Jp;
              font-size: 2.5rem;
              -webkit-text-stroke: .5px rgb(255, 255, 255);
            }
            .point-title1{
              color: $Sunset-Orange;
              position: absolute;
              top: 65%; left: 26%;
              &.ja{
                left: 20%;
              }
            }
            .point-title2{
              color: $Sunset-Orange;
              position: absolute;
              top: 35%; right: 45%;
            }
          }
          .map-point-ping{
            .ping1{
              width: 33px;
              position: absolute;
              top: 55%; left: 30%;
              animation: ping 2s infinite ease-in-out;
            }
            .ping2{
              width: 33px;
              position: absolute;
              top: 25%; right: 49%;
              animation: ping 2s infinite ease-in-out;
            }
          }
          @keyframes ping {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-20px);
            }
            100% {
              transform: translateY(0);
            }
          }
        }
      }
    }
    .map-mini-item{
      .mini1{
        position: absolute;
        top: 17%; left: 25%;
        animation: spin 5s linear infinite;
        img{width: 40px;}
      }
      .mini2{
        position: absolute;
        animation: spin 5s linear infinite;
        top: 40%; left: 17%;
        img{width: 35px;}
      }
      .mini3{
        position: absolute;
        animation: spin 5s linear infinite;
        top: 78%; left: 20%;
        img{width: 50px;}
      }
      .mini4{
        position: absolute;
        animation: spin 5s linear infinite;
        top: 13%; right: 30%;
        img{width: 40px;}
      }
      .mini5{
        position: absolute;
        animation: spin 5s linear infinite;
        top: 50%; right: 15%;
        img{width: 50px;}
      }
      .mini6{
        position: absolute;
        animation: spin 5s linear infinite;
        top: 84%; right: 25%;
        img{width: 40px;}
      }
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

/* ############ section.email ############*/
.email {
  position: relative;
  background: $Moss-Green;
  height: 50vh;
  .email-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      margin-bottom: 40px;
      color: $Main-Text;
      font-family: $Title-Font;
      font-size: $h2-px;
      &.ja{
        font-family: $Title-Jp;
      }
    }
    .email-box {
      width: 570px;
      height: 117px;
      background-color: $White;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: $h3-px;
        color: $Main-Text;
      }
    }
    .email-notice{
      margin-top: 40px;
      color: $White;
    }
    .email-notice-wrap {
      margin-top: 40px;
      p {
        color: $White;
        line-height: 20px;
      }
    }
  }
}




