/* color */

$Main-Text: #432E2E;
$Moss-Green: #7A8450;
$Moss-Green-Light: #D1DAAC;
$Smoky-Blue: #A3BFD9;
$Apricot-Beige: #F8D8B8;
$Clay-Brown: #A57C5B;
$Sakura-Pink: #F7BFD8;
$Sunset-Orange: #F0A25C;
$Ocean-Deep-Blue: #3B5D68;
$Banana: #FFFBE6;
$White: #FFFFFF;
$Light-Black: #171717;
$Pure-Black: #000000;

/* fonts */

$Main-Font: 'Pretendard JP';
$Highlight-Font: 'TTHakgyoansimUsanR';
$Title-Font: 'SinchonRhapsody';
$Highlight-Jp: 'CHIKARA-YOWAKU';
$Title-Jp: 'Mukasi-Mukasi';

/* font size */

$h1-px : 64px;
$h2-px : 48px;
$h3-px : 24px;
$h4-px : 20px;
$h5-px : 18px;